<html>
    <head>
      {% if title %}
      <title>{{ title }} - Book Dictionary</title>
      {% else %}
      <title>Welcome to book-dictionary</title>
      {% endif %}
      <style>
	    body {
   	    background: #ccccff;
         }
      </style>
    </head>
    <body>

        <div>Book-dictionary: <a href="/pre_upload">Home</a> </div>
        <h1><font size="6"  face="Cursive">Hello! Welcome to the book-dictionary project</font></h1>
        {% block content %}{% endblock %}
    </body>
</html>