<html>
    <head>
      {% if title %}
      <title>{{ title }} - Book Dictionary</title>
      {% else %}
      <title>Welcome to book-dictionary</title>
      {% endif %}
      <style>
	    body {
   	    background: #ccccff;
         }
      </style>
    </head>
    <body>

        <div>Book-dictionary: <a href="/upload">Home</a> </div>
        <h1><font size="6"  face="Cursive">Hello! Welcome to the book-dictionary project</font></h1>
        <hr size=2px width=1000px align="left", color="black">
        <h3><font size="5"  face="Cursive">Short instruction for users: </font> </h3>
            <div><font size="5"  face="Cursive">Here you can convert your book into full dictionary with all words.
                I find it very convenient for me to read foreign books in such way.
                Follow the next several steps to convert your book</font></div>
            <ol><font size="5"  face="Cursive">
                <li> Upload your book in fb2 </li>
                <li> Choose the convenienst mode for you </li>
                <li> Wait a bit( not more than 5 minutes) </li>
                <li> Download your dictionary</li></font>
            </ol>
        <hr size=1px align="left">
        {% block content %}{% endblock %}
    </body>
</html>