{% extends "base.html" %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>convert</title>
</head>
 <body>
 <hr size=2px width=1000px align="left", color="black">
 <div><font size="5"  face="Cursive">You can download you dictionary!</font></div>
 <hr size=1px align="left">
       <p><a href="{{ url_for('download', filename=filename) }}">File</a><p>
       <form method = "post">
                <input type = "submit" name="home" value="Convert another book">
            </form>


</body>
</html>
{% endblock %}