{% extends "base.html" %}

{% block content %}
    <html>
    <head>
    <title>success</title>
    </head>
    <body>
    <hr size=2px width=1000px align="left", color="black">
    <h3><font size="5"  face="Cursive">There are 4 types of converting. Please choose one of them</font></h3>
            <ol><font size="5"  face="Cursive">
                <li>Chapter mode - convert into dictionary only one definite chapter </li>
                <li> Chapters mode - convert full book and divide it into chapters. Each new chapters contains
                    only new words, which haven't met in previous chapters </li>
                <li> Chapters -extended mode -  convert full book and divide it into chapters.
                    (Warning - if you choose this mode you will recieve very large dictionary, because some words will
                    occure twice and more times</li>
                <li> Full book mode -  convert book into dictionary with all words</li></font>
            </ol>
    <hr size=1px align="left">
    <form action = "/convert_step" method = "post">
    <input type = "number" name="chapter"  placeholder="12">
    <input type = "submit" name="submit" value="Submit">
    </form>
    </body>
    </html>
{% endblock %}